body {
  background: #efefef;
  font-family: "Georgia", serif;
  color: #111;
}

.container {
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #000;
}

.header h1 {
  font-size: 28px;
  letter-spacing: 1px;
}

.top-right span {
  margin-left: 20px;
  font-size: 14px;
}

.featured {
  margin-top: 25px;
  margin-bottom: 30px;
}

.featured img {
  border-radius: 15px 0 0 15px;
  height: 100%;
  object-fit: cover;
}

.box {
  background: #e6d3c7;
  padding: 30px;
  border-radius: 0 15px 15px 0;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.box h2 {
  font-size: 22px;
  line-height: 1.4;
}

.box a {
  color: #2f3fd8;
  text-decoration: none;
  font-size: 16px;
}

.main {
  border-top: 2px solid #000;
  padding-top: 20px;
}

.left {
  border-right: 2px solid #000;
  padding-right: 20px;
}

.section h3,
.right h3 {
  font-size: 20px;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.temp {
  display: flex;
  align-items: center;
  gap: 10px;
}

#weatherTemp {
  font-size: 60px;
}

#weatherCity {
  font-size: 14px;
  letter-spacing: 1px;
}
